.headingContainer {
    display:flex;
    align-items: center;
}

.heading {
    background-color: green;
    padding: 3rem;
    flex-grow: 1;
}

.logo {
    background-color: red;
    padding: 3rem;
}