.ImageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    max-height: calc(100vh - 11rem);
    width: 12rem;
    row-gap: 1rem;
    padding: 1rem 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.ImageContainer::-webkit-scrollbar {
    display: none;
}


.Image {
    object-fit: cover;
    width: 9rem;
    height: 6rem;
    cursor: pointer;
}

.Image:hover {
    transition-property: all;
    transition-duration: 200ms;
    transform: scale(1.1);
}