.DottedBorder {
    border: 1px dotted black;
    padding: 1rem;
}

.SensorContainer {
    display: flex;
    column-gap: 2rem;
    justify-content: space-between;
}

.ExperimentContainer {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    background-color: white;
    border-radius: 2rem;
    padding: 4rem;
    color: black;
    min-width: 319px;
}